<h1>제목 -- 게시판 이용시 유의사항</h1>
작성자 -- 관리자</br>
<div style="white-space:pre;"><c:out value="${content}" />
내용 

1. 각종 욕설 및 혐오감을 주는 게시글
- 욕설/폭언/음란성 내용 사용
- 불건전한 닉네임 사용

2. 무분별한 도배 및 광고글 게시
- 무의미한 도배글 작성
- 같은글을 여러번 올리는 행위
- 제품 판매자가 직접 정보를 올리는 행위

3. 분쟁글이나 분쟁을 유발하는 내용이 포함된 게시글

위에 해당하는 경우에는 관리자의 확인 후 무통보 삭제 처리 될 수 있습니다.
위에 해당하지 않는 경우라도 관리자에 판단하에 문제가 있는 게시글은 삭제 처리 될 수 있습니다.

※ 사이트 관리자에게 바라는점이 있거나 신고할 내용이 있으면 제목에 &#x27;[Trendy]&#x27;를 포함하여 글을 작성해주시면 확인하도록 하겠습니다.ex)제목 : [Trendy]안녕하세요 등..

</div>


<td><input type=button value="List" OnClick="window.location='/notice/qna'"> </td>
<td><input type=button value="Main" OnClick="window.location='/notice'"> </td>

